/* import of google font Rubik with weights: 300 400 500 */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Rubik:wght@300;400;500&display=swap');

/* design colors set as variables */

:root {
/* primary color pallette */

  --Blue: hsl(246, 80%, 60%);
  /* work */
  --light-red: hsl(15, 100%, 70%);
  /* play */
  --Soft-blue: hsl(195, 74%, 62%);
  /* study */
  --Light-red: hsl(348, 100%, 68%);
  /* excercise */
  --Lime-green: hsl(145, 58%, 55%);
  /* social */
  --Violet: hsl(264, 64%, 52%);
  /* self care */
  --Soft-orange: hsl(43, 84%, 65%);

/* neutral color pallette */

  /* background */
  --Very-dark-blue: hsl(226, 43%, 10%);

  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}

/* universal styling */
* {
  font-family: rubik, sans-serif;
  font-weight: 300;
  color: #FFFFFF;
}


/* page body */
body {
  background-color: var(--Very-dark-blue);
}

/* main grid for page content */
.bodyGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

/* employee tile */
.employeeContainer {
  border-radius: 1rem;
  background-color: var(--Dark-blue);
  grid-column: 1 /span 1;
  grid-row: 1 /span 2;
}

/* employee info box.  Top half of employee container */
.employeeInfoBox {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #5747EA;
}

/* child elements of employee infoBox */
.employeeInfoBox img, h1, h6 {
  margin-left: 1rem;
}

/* filter buttons on bottom half of employee container */
.filterButtonBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* filter buttons */
.filterButtonBox button {
  font-size: 0.75rem;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 30%;
  background-color: var(--Dark-blue);
  border: none;
  color: var(--Desaturated-blue);
}

.monthlyBtn {
  margin-bottom: 1rem;
}

button:hover {
  cursor: pointer;
  color: #FFFFFF;
}